{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block body %}
    <div class="container">
    <h4>Немного расскажу о себе, чтобы Вы знали кто Ваш доктор.</h4>
        <div class="justify-content-center">
            <img src="http://gsmu.by/upload/resize_cache/iblock/a15/1024_768_0/a15cd8e0f84f7249c5ba648284ba10de.jpg" height="300" width="200" class="justify-content-start">
            <p>Меня зовут Виктория.</p>
            <p>И я человек влюблённый в свою профессию. Именно эта любовь не даёт мне выгорать в работе и позволяет совершенствоваться в ней дальше.</p>
            <p>В 2006 году, выбирая свой путь в профессии, сомневалась между медициной и психологией. Выбрав медицину, долго не могла определиться со специализацией, но на психиатрии, пришло осознание, что это самая интересная дисциплина)</p>
            <p>В 2012 году была распределена врачом-психиатром-наркологом. Уже на интернатуре начала дополнительно увлекаться различными направлениями психотерапии. Проходила групповую психотерапию в психодраме и экзистенциальной психотерапии. Много лет работала в практическом здравоохранении.</p>
            <p>Неоднократно повышала свою квалификацию в БелМАПО по направлениям лечение суицидального кризиса, психотерапии и реабилитации пациентов с зависимостями, современные подходы в диагностике и лечении распространённых психических расстройств.</p>
            <p>Затем последовало получение второго высшего образования "Педагогическая деятельность со знанием английского языка".</p>
            <p>С 2020 года преподаю психиатрию, психотерапию, психологию на курсе психиатрии в медицинском университете, читаю лекции на факультете повышения квалификации для врачей и психологов.</p>
            <p>Прошла профессиональную переподготовку с правом ведения деятельности в сфере личного, семейного и детского психологического консультирования в Московском институте психоанализа.</p>
            <p>Участвовала в обучающих программах по когнитивно-бихевиоральной психотерапии в Москве, по лечению психологической травмы, ПТСР в Европейском психологическом центре; по психотерапии клиентов с расстройствами личности в Санкт-Петербурге; обучалась на психоаналитических программах у ведущих психоаналитиков современности Нэнси Мак Вильямс, Марши Херрин(РПП)</p>
            <p>В настоящее время прохожу обучение по телесно-ориентированной психотерапии.</p>
        </div>
    <h4>Как видите, я человек, влюбленный в знания и свою профессию.</h4>
    </div>
{% endblock %}