{% extends 'base.html' %}

{% block title %}Контакты{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
          <div class="list-group">
            <a href="https://instagram.com/psy_ermolenko?igshid=YmMyMTA2M2Y=" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
              <img src="https://e7.pngegg.com/pngimages/953/528/png-clipart-instagram-icon-logo-desktop-computer-icons-instagram-miscellaneous-text.png" alt="twbs" width="45" height="32" class="rounded-circle flex-shrink-0">
              <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                  <h6 class="mb-0"><ya-tr-span data-index="4-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="My instagram" data-translation="Мой инстаграм" data-ch="0" data-type="trSpan">Мой инстаграм</ya-tr-span></h6>
                  <p class="mb-0 opacity-75"><ya-tr-span data-index="5-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="@psy_ermolenko" data-translation="@psy_ermolenko" data-ch="0" data-type="trSpan">@psy_ermolenko</ya-tr-span></p>
                </div>
              </div>
            </a>
            <a href="https://web.telegram.org/z/#1105345567" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
              <img src="https://static.tildacdn.com/tild3937-6232-4262-b036-373035616133/tg.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
              <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                  <h6 class="mb-0"><ya-tr-span data-index="7-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Another title here" data-translation="Другой заголовок здесь" data-ch="0" data-type="trSpan" data-selected="false">Мой телеграм</ya-tr-span></h6>
                  <p class="mb-0 opacity-75"><ya-tr-span data-index="8-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="@psy_ermolenko_bot" data-translation="@psy_ermolenko_bot" data-ch="0" data-type="trSpan" data-selected="false">@psy_ermolenko_bot</ya-tr-span></p>
                </div>
              </div>
            </a>

          </div>
        </div>
    </div>
{% endblock %}