{% extends 'base.html' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <div>
        <div>
            <img src="https://i.pinimg.com/originals/56/8e/c9/568ec924c46866b30fc018f847862f9e.png" width="200" height="200" >
            <div class="container">
            <main class="px-3">
                <h1><ya-tr-span data-index="8-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value='As a result of therapy, "A person goes home".' data-translation='В результате терапии "Человек идёт домой".' data-ch="0" data-type="trSpan">В результате терапии "Человек идёт домой"</ya-tr-span></h1>
                <p class="lead"><ya-tr-span data-index="9-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value='
        Psychiatry is still one of the most mysterious areas of medicine. We traditionally receive from readers and patients
         there are a lot of questions about the peculiarities of the work of a psychiatrist, so we decided to collect the most popular of them in one material.
         Who is a psychiatrist and how does it differ from a psychologist? Does he really put "on the register" if you contact him?
         How to choose a good doctor? These and other questions are answered by a psychiatrist, psychotherapist Victoria Ermolenko.' data-translation='Психиатрия — все еще одна из самых загадочных областей медицины. Мы традиционно получаем от читателей и пациентов
                множество вопросов об особенностях работы психиатра, поэтому решили собрать самые популярные из них в один материал.
                Кто такой психиатр и чем отличается от психолога? Действительно ли он ставит «на учёт», если к нему обратиться?
                Как выбрать хорошего врача? На эти и другие вопросы отвечает врач-психиатр, психотерапевт Виктория Ермоленко.' data-ch="0" data-type="trSpan">
            Психиатрия — все еще одна из самых загадочных областей медицины. Мы традиционно получаем от читателей и пациентов
                множество вопросов об особенностях работы психиатра, поэтому решили собрать самые популярные из них в один материал.
                Кто такой психиатр и чем отличается от психолога? Действительно ли он ставит «на учёт», если к нему обратиться?
                Как выбрать хорошего врача? На эти и другие вопросы отвечает врач-психиатр, психотерапевт Виктория Ермоленко.</ya-tr-span></p>
            <p><a href="posts.html" class="btn btn-lg btn-light fw-bold border-white bg-white"><ya-tr-span data-index="10-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Learn more" data-translation="Узнать больше" data-ch="0" data-type="trSpan">Узнать больше</ya-tr-span></a></p>
            </main>
            </div>
        </div>
    </div>
{% endblock %}